In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('Assets/fruits.csv')

In [8]:
df.head()

   diameter  weight FruitName
0       3.0      30    Banana
1       6.0     100     Apple
2       6.1      95     Apple
3       3.2      35    Banana
4       5.5      80     Apple